@model List<About>

<section id="section2" class="about-section">
	<div class="container">
		<h2 class="section-title">Hakkımda</h2>

		@foreach (var item in Model)
		{
			<div class="about-card">
				<div class="row align-items-center">

					<div class="col-md-4 text-center">
						<div class="about-image">
							<img src="@item.ImageUrl" alt="profile">
						</div>
					</div>

					<div class="col-md-8">
						<h3 class="about-name">@item.NameSurname</h3>
						<span class="about-role">Back-End Developer</span>

						<p class="about-desc">@item.Description</p>

						<ul class="about-info">
							<li><b>Doğum Tarihi:</b> 03 Ekim 2004</li>
							<li><b>Telefon:</b> @item.Phone</li>
							<li><b>Email:</b> @item.Email</li>
							<li><b>Adres:</b> @item.Address</li>
						</ul>

						<h4 class="about-subtitle">Ne İş Yapıyorum?</h4>

						<div class="row about-services">
							<div class="col-sm-4">
								<div class="service-box">
									<i class="ion-monitor"></i>
									<h6>Web Geliştirme</h6>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="service-box">
									<i class="ion-iphone"></i>
									<h6>Mobil Geliştirme</h6>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="service-box">
									<i class="ion-trophy"></i>
									<h6>Pazarlama</h6>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		}
	</div>
</section>
