@model List<Experience>

<section id="section4">
	<div class="container">
		<h2>Deneyimlerim</h2>
		<div class="experience-timeline">

			@foreach (var item in Model)
			{
			<div class="experience-block clearfix">
				<div class="meta">
					<span class="year">@item.WorkDate</span>
					<span class="company">@item.CompanyName</span>
				</div>
				<div class="content">
					<h5>@item.Title</h5>
					<p>@item.Description</p>
				</div>
				<div class="icon">
					<i class="@item.IconUrl"></i>
				</div>
				<div class="line"></div>
			</div> 
			}
		</div> 

	</div>
</section>